// Mixins for media query

$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1024px;
$TV-width: 1440px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin TV {
  @media (min-width: #{$desktop-width}) and (max-width: #{$TV-width - 1px}) {
    @content;
  }
}

// Proxima Nova

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("./assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("./assets/fonts/ProximaNova-Regular.woff") format("woff"),
    url("./assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Futura Medium C

@font-face {
  font-family: "FuturaMediumC";
  src: local("FuturaMediumC"), url("./assets/fonts/futuramediumc.otf") format("opentype");
}

// Futura Book C

@font-face {
  font-family: "FuturaBookC";
  src: local("FuturaBookC"), url("./assets/fonts/futurabookc.otf") format("opentype");
}

// Futura Demi C

@font-face {
  font-family: "FuturaDemiC";
  src: local("FuturaDemiC"), url("./assets/fonts/futurademic.otf") format("opentype");
}

// Yeseva One

@import url("https://fonts.googleapis.com/css?family=Yeseva+One&display=swap&subset=cyrillic");

// **************************************** BEGIN ***********************************************

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

.wrapper {
  max-width: 1440px;
  min-width: 375px;
}

// *************************************** HEADER START ***********************************************

.header {
  display: grid;
  grid-template: 15px 37px 31px / 83px auto 99px;
  background: #131313;

  @include desktop() {
    grid-template: 15px 37px 31px / 50px auto 50px;
  }

  @include tablet() {
    grid-template: 15px 37px 31px / 25px auto 25px;
  }

  @include mobile() {
    grid-template: 15px 37px 31px / 18px auto 18px;
  }
}

.navigation_bar {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 180px auto 126px 161px;
  align-items: center;

  @include desktop() {
    grid-template-columns: 180px auto 126px;
  }

  @include tablet() {
    grid-template-columns: 180px auto 126px;
  }

  @include mobile() {
    grid-template-columns: 180px auto 126px;
  }

  &--navigation {
    width: 100%;
    height: 100%;
  }

  &--logo {
    cursor: default;
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #e3b873;

    @include tablet() {
      font-size: 13px;
      line-height: 15px;
    }

    @include mobile() {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &--navigation_list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
    height: 100%;

    @include tablet() {
      display: none;
    }

    @include mobile() {
      display: none;
    }

    & > li {
      height: 100%;
      width: 100%;
    }
  }

  &--item {
    display: flex;
    height: 100%;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background: blue;
    }

    @include tablet() {
      font-size: 13px;
      line-height: 15px;
    }

    @include mobile() {
      font-size: 12px;
      line-height: 14px;
    }

    &-active {
      display: flex;
      height: 100%;
      padding: 0 5px;
      justify-content: center;
      align-items: center;
      font-family: FuturaBookC;
      font-size: 14px;
      line-height: 16px;
      color: #e3b873;
      text-transform: uppercase;
      text-decoration: none;

      @include tablet() {
        font-size: 13px;
        line-height: 15px;
      }

      @include mobile() {
        font-size: 12px;
        line-height: 14px;
      }

      &:hover {
        background: blue;
      }
    }
  }

  &--contact_phone {
    width: fit-content;
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #e3b873;

    &:hover {
      background: blue;
    }

    @include tablet() {
      text-align: end;
    }

    @include mobile() {
      text-align: end;
    }
  }

  &--request_a_call_button {
    height: 100%;
    cursor: pointer;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;

    &:hover {
      background-color: blue;
    }

    @include desktop() {
      display: none;
    }

    @include tablet() {
      display: none;
    }

    @include mobile() {
      display: none;
    }
  }
}

// *************************************** HEADER END ******************************************************

// *************************************** MAIN PAGE START *************************************************

.main_page {
  display: grid;
  grid-template-columns: 82px auto;

  @include tablet() {
    grid-template-columns: auto;
  }

  @include mobile() {
    grid-template-columns: auto;
  }
}

.aside_instagram {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #131313;

  @include tablet() {
    display: none;
  }

  @include mobile() {
    display: none;
  }

  & > a > img:hover {
    background: blue;
  }
}

.turnkey_repair_container {
  height: 706px;
  display: flex;
  background-image: url(./assets/images/home_page_desktop_background.png);

  @include desktop() {
    height: 630px;
  }

  @include tablet() {
    height: 553px;
  }

  @include mobile() {
    height: 476px;
    width: 375px;
  }
}

.turnkey_repair {
  height: 305px;
  width: 514px;
  margin-left: 60px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include desktop() {
    width: 456px;
  }

  @include tablet() {
    width: 90vw;
    margin: 0 auto;
  }

  @include mobile() {
    height: 330px;
    width: 339px;
    margin-left: 0;
    padding: 0 19px;
  }

  &--heading {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #ffffff;

    @include desktop() {
      font-size: 34px;
      line-height: 110%;
    }

    @include tablet() {
      font-size: 28px;
      line-height: 120%;
    }

    @include mobile() {
      font-size: 23px;
      line-height: 132.83%;
    }

    & > span {
      color: #e3b873;
    }
  }

  &--description {
    padding-right: 70px;
    font-family: FuturaBookC;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;

    @include desktop() {
      padding-right: 0;
      font-size: 21px;
      line-height: 110%;
    }

    @include tablet() {
      padding-right: 0;
      font-size: 19px;
      line-height: 120%;
    }

    @include mobile() {
      padding-right: 0;
      font-size: 18px;
      line-height: 135.84%;
    }
  }

  &--buttons {
    display: flex;
    width: fit-content;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    text-transform: uppercase;

    @include tablet() {
      width: 100%;
      flex-direction: column;
      font-size: 13px;
      line-height: 15px;
    }

    @include mobile() {
      flex-direction: column;
      font-size: 13px;
      line-height: 15px;
    }
  }

  &--calculate_btn {
    width: 207px;
    height: 51px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;

    @include tablet() {
      width: 100%;
      margin-right: 0;
      margin-bottom: 26px;
    }

    @include mobile() {
      width: 338px;
      margin-right: 0;
      margin-bottom: 26px;
    }

    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      color: #ffffff;
      text-decoration: none;

      &:hover {
        background: blue;
      }
    }
  }

  &--submit_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 207px;
    height: 51px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;

    @include tablet() {
      width: 100%;
    }

    @include mobile() {
      width: 338px;
    }

    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      color: #ffffff;
      text-decoration: none;

      &:hover {
        background: blue;
      }
    }
  }
}

// *************************************** SCROLL DOWN START ***********************************************

.scroll_down {
  width: 247px;
  height: 97px;
  position: relative;
  bottom: 48px;
  display: flex;
  // display: none; // delete it for visible scroll down
  justify-content: center;
  align-items: center;
  background: #131313;
  z-index: 3;

  @include tablet() {
    display: none;
  }

  @include mobile() {
    display: none;
  }

  &--link {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: blue;
    }
  }

  &--text {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
  }

  &--image {
    display: block;
  }
}
// *************************************** SCROLL DOWN END *********************************************

// *************************************** COMPLETED PROJECTS START *********************************************

.completed_projects_wrapper {
  height: 750px;
  position: relative;
  background: #131313;
  overflow: hidden;
  display: grid;
  grid-template: 1fr / 592px auto;
  align-items: center;
  // background-image: url(./assets/images/completed_projects_background.svg);

  @include tablet() {
    height: 727px;
    display: grid;
    grid-template: 1fr / 1fr;
    padding: 0 20px;
  }

  @include mobile() {
    height: 727px;
    display: grid;
    grid-template: 1fr / 1fr;
    padding: 0 20px;
  }
}

.completed_projects {
  height: 390px;
  padding: 0 50px 0 101px;
  display: grid;
  flex-direction: column;

  @include tablet() {
    height: auto;
    padding: 0;
  }

  @include mobile() {
    height: auto;
    padding: 0;
  }
}

.completed_projects_heading {
  padding-bottom: 42px;

  &--title {
    height: 66px;
    width: 155px;
    margin-bottom: 34px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #e3b873;

    @include tablet() {
      font-size: 24px;
      line-height: 120%;
      height: 100%;
      width: 100%;
      text-align: center;
    }

    @include mobile() {
      height: 100%;
      width: 100%;
      font-size: 22px;
      line-height: 138.6%;
      text-align: center;
    }
  }

  &--description {
    height: 86px;
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 29px;
    color: #ffffff;

    @include tablet() {
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 16px;
      line-height: 130%;
    }

    @include mobile() {
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 14px;
      line-height: 158.48%;
    }
  }
}

.completed_projects_swiper {
  &--image_container {
    display: none;

    @include tablet() {
      display: flex;
      justify-content: center;
    }

    @include mobile() {
      display: flex;
      justify-content: center;
    }
  }

  &--arrows {
    height: 242px;
    width: 314px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--arrow_container {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: #e3b873;

    &:hover {
      background: blue;
    }
  }

  @include tablet() {
    display: block;
    background: red;
  }

  @include mobile() {
    display: block;
    height: 340px;
    background: red;
  }
}

.completed_projects_info {
  &--all_info {
    @include tablet() {
      padding-top: 37px;
    }

    @include mobile() {
      padding-top: 37px;
    }

    height: 162px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  &--title {
    padding-bottom: 10px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #e3b873;

    @include tablet() {
      font-size: 16px;
      line-height: 120%;
    }

    @include mobile() {
      font-size: 14px;
      line-height: 138.6%;
    }
  }

  &--description {
    padding: 0 65px 20px 0;
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;

    @include tablet() {
      font-size: 16px;
      line-height: 120%;
    }

    @include mobile() {
      font-size: 14px;
      line-height: 135.84%;
    }
  }

  &--slider_container {
    display: none;
  }
}

.completed_projects_slider {
  max-height: 483px;
  max-width: 850px;
  position: relative;
  background-color: #131313;

  @include tablet() {
    display: none;
  }

  @include mobile() {
    display: none;
  }

  &--names {
    width: 45vw;
    max-width: 800px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: -46px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    @include desktop() {
      height: 100px;
      width: 25%;
      top: -115px;
      flex-direction: column;
      align-items: center;
    }

    & > a {
      color: rgba(255, 255, 255, 0.3);
      text-decoration: none;

      &:hover {
        background-color: blue;
      }

      &.active {
        color: #e3b873;
        text-decoration: underline;
      }
    }
  }
  &--img_slider {
    height: 28.5vw;
    // max-width: 1000px;
    // max-height: 600px;
    overflow: hidden;
  }

  &--images {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 21px;

    & > div {
      height: 28.5vw;

      & > img {
        max-width: 680px;
        max-height: 483px;
        height: inherit;
        object-fit: cover;
      }
    }
  }

  &--slider_btn_container {
    position: absolute;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: baseline;
    z-index: 2;

    @include tablet() {
      display: none;
    }

    @include mobile() {
      display: none;
    }
  }

  &--slider_btn_link {
    height: 55px;
    width: 55px;
    position: absolute;
    display: flex;
    justify-content: center;
    background: #e3b873;
    border-radius: 50%;

    &:hover {
      background: blue;
    }
  }
}

// *************************************** COMPLETED PROJECTS END ***********************************************

// *************************************** ONLINE CONTROL START ***********************************************

.online_control {
  height: 1103px;
  background-image: linear-gradient(to bottom, #131313 29%, #ffffff 29.1%);

  @include desktop() {
    height: 1000px;
  }

  @include tablet() {
    height: 909px;
    background-image: linear-gradient(to bottom, #131313 92%, #ffffff 84.1%);
  }

  @include mobile() {
    height: 909px;
    background-image: linear-gradient(to bottom, #131313 92%, #ffffff 84.1%);
  }
}

.online_control_heading {
  height: 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include desktop() {
    height: 69px;
  }

  @include tablet() {
    height: 72px;
  }

  @include mobile() {
    height: 74px;
  }

  &--text {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  &--img_container {
    height: 28px;
  }

  &--video_container {
    display: flex;
    justify-content: center;

    @include tablet() {
      margin: 0 18px;
    }

    @include mobile() {
      margin: 0 18px;
    }
  }

  &--video {
    width: 817px;
    height: 434px;
    margin: 31px 0 98px 0;

    @include tablet() {
      margin: 40px 0 51px 0;
      width: 500px;
      height: 257px;
    }

    @include mobile() {
      margin: 40px 0 51px 0;
      width: 340px;
      height: 207px;
    }
  }
}

.online_control_info {
  display: flex;
  justify-content: center;
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;

  @include desktop() {
    font-size: 18px;
    line-height: 120%;
  }

  @include tablet() {
    color: #ffffff;
    margin: 0 18px;
    font-size: 16px;
    line-height: 150%;
  }

  @include mobile() {
    color: #ffffff;
    margin: 0 18px;
    font-size: 14px;
    line-height: 169.8%;
  }

  &--text {
    max-width: 681px;

    @include tablet() {
      height: 107px;
    }

    @include mobile() {
      height: 107px;
    }
  }
}

// ************************************** ONLINE CONTROL FORM *********************************************

.online_control_submit_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 91px;

  @include tablet() {
    position: relative;
    margin-top: 61px;
  }

  @include mobile() {
    position: relative;
    margin-top: 61px;
  }

  &--data {
    display: flex;
    margin-bottom: 31px;

    @include tablet() {
      flex-direction: column;
    }

    @include mobile() {
      flex-direction: column;
    }
  }

  &--input_name,
  &--input_phone {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    color: #363636;
    border: 0;
    outline: none;

    @include tablet() {
      line-height: 120%;
      background-color: #131313;
      color: #ffffff;

      &::-webkit-input-placeholder {
        color: #ffffff;
      }
      &::-moz-placeholder {
        color: #ffffff;
      } /* Firefox 19+ */
      &:-moz-placeholder {
        color: #ffffff;
      } /* Firefox 18- */
      &:-ms-input-placeholder {
        color: #ffffff;
      }
    }

    @include mobile() {
      line-height: 138%;
      background-color: #131313;
      color: #ffffff;

      &::-webkit-input-placeholder {
        color: #ffffff;
      }
      &::-moz-placeholder {
        color: #ffffff;
      } /* Firefox 19+ */
      &:-moz-placeholder {
        color: #ffffff;
      } /* Firefox 18- */
      &:-ms-input-placeholder {
        color: #ffffff;
      }
    }
  }

  &--input_name_container,
  &--input_phone_container {
    width: 231px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 50px;

    @include tablet() {
      width: 340px;
      height: 45px;
      margin-right: 0;
    }

    @include mobile() {
      width: 340px;
      height: 45px;
      margin-right: 0;
    }

    &::before {
      content: "";
      width: 231px;
      height: 1px;
      position: absolute;
      bottom: 0px;
      background-color: #36363630;

      @include tablet() {
        content: "";
        width: 340px;
        height: 1px;
        position: absolute;
        bottom: 0px;
        background-color: #ffffff;
      }

      @include mobile() {
        content: "";
        width: 340px;
        height: 1px;
        position: absolute;
        bottom: 0px;
        background-color: #ffffff;
      }
    }

    &::after {
      content: "";
    }

    & > label {
      font-family: FuturaBookC;
      font-size: 15px;
      line-height: 20px;
      color: rgba(54, 54, 54, 0.5);

      @include tablet() {
        color: rgba(255, 255, 255, 0.5);
      }

      @include mobile() {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  &--input_name_container {
    @include tablet() {
      margin-bottom: 50px;
    }

    @include mobile() {
      margin-bottom: 50px;
    }
  }

  &--submit_container {
    @include tablet() {
      position: absolute;
      bottom: -85px;
    }

    @include mobile() {
      position: absolute;
      bottom: -130px;
    }
  }

  &--submit {
    height: 51px;
    width: 200px;
    cursor: pointer;
    background: #e3b873;
    font-family: FuturaDemiC;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    @include tablet() {
      height: 51px;
      width: 340px;
    }

    @include mobile() {
      height: 51px;
      width: 340px;
    }

    &:hover {
      background: blue;
    }
  }

  &--input_checkbox_container {
    position: relative;
    display: flex;
    align-items: center;
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: #181818;

    @include tablet() {
      color: #ffffff;
    }

    @include mobile() {
      color: #ffffff;
    }

    &:hover {
      background: #e3b87377;
    }

    & > input:checked ~ label::after {
      content: url(./assets/images/check_mark.svg);
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0px;
      top: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e3b873;
      border-radius: 1px;
    }

    & > label {
      margin-left: 10px;
      cursor: pointer;

      &::before {
        content: "";
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0px;
        top: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e3b87380;
        border-radius: 1px;
      }
    }
  }

  &--input_checkbox {
    opacity: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
}

// *************************************** ONLINE CONTROL END ***********************************************

// *************************************** TYPES OF REPAIR START ********************************************

.types_of_repair {
  @include mobile() {
    width: 375px;
  }
}

.types_of_repair_heading {
  height: 67px;
  display: flex;
  flex-direction: column;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 31px;

  @include tablet() {
    height: 71px;
    font-size: 22px;
    line-height: 138.6%;
  }

  @include mobile() {
    height: 71px;
    font-size: 22px;
    line-height: 138.6%;
  }

  &--text {
    padding-bottom: 13px;
  }
}

.types_of_repair_examples {
  min-height: 608px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--section {
    position: relative;
    margin: 0 15px 59px 15px;
    padding: 0 0 179px 0;

    @include tablet() {
      margin: 0 18px -30px 18px;
    }

    @include mobile() {
      margin: 0 18px -30px 18px;
    }
  }

  &--heading {
    padding: 25px 0 13px 34px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;

    @include tablet() {
      padding: 21px 0 10px 34px;
    }

    @include mobile() {
      padding: 21px 0 10px 34px;
    }
  }

  &--info_container {
    width: 330px;
    height: 286px;
    position: absolute;
    bottom: 32px;
    left: 31px;
    background: #ffffff;
    z-index: 2;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);

    @include tablet() {
      height: 241px;
      width: 270px;
      bottom: 87px;
      left: 0px;
    }

    @include mobile() {
      height: 241px;
      width: 270px;
      bottom: 87px;
      left: 0px;
    }
  }

  &--list_container {
    width: 267px;
    height: 178px;
    padding-left: 34px;
  }

  &--overhaul {
    margin: 0 30px;
  }

  &--item {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;
    color: #959595;

    @include tablet() {
      font-size: 14px;
      line-height: 169.8%;
    }

    @include mobile() {
      font-size: 13px;
      line-height: 169.8%;
    }
  }

  &--image_container {
    @include tablet() {
      height: 365px;
      width: 340px;
    }

    @include mobile() {
      height: 365px;
      width: 340px;
    }
  }

  &--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--buy_btn_container {
    position: absolute;
    bottom: 0px;
    left: 31px;
    z-index: 3;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.5);

    @include tablet() {
      bottom: 68px;
      left: 0px;
    }

    @include mobile() {
      bottom: 68px;
      left: 0px;
    }
  }

  &--buy_btn {
    height: 54px;
    width: 228px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    background: #e3b873;
    color: #ffffff;
    text-decoration: none;

    @include tablet() {
      height: 40px;
      width: 190px;
      font-size: 15px;
      line-height: 138.6%;
    }

    @include mobile() {
      height: 40px;
      width: 190px;
      font-size: 15px;
      line-height: 138.6%;
    }

    &:hover {
      background: blue;
    }
  }
}

// *************************************** TYPES OF REPAIR END **********************************************

// *************************************** LEAVE REQUEST SECTION START **********************************************

.leave_request {
  display: flex;
}

.leave_request_background_image {
  position: relative;
}

.leave_request_left_part {
  position: relative;

  @media (max-width: 1353px) {
    display: none;
  }
}

.leave_request_advantage_list {
  list-style-type: none;

  & > li {
    font-family: FuturaMediumC;
    font-size: 18px;
    line-height: 21px;
    color: #363636;
  }

  &--item_1 {
    position: absolute;
    width: 364px;
    height: 42px;
    left: 413px;
    top: 118px;

    &::before {
      content: "01";
      height: 42px;
      width: 42px;
      position: absolute;
      left: -60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #e3b873;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
      border-radius: 30px;
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #ffffff;
    }
  }
  &--item_2 {
    position: absolute;
    left: 492px;
    top: 237px;

    &::before {
      content: "02";
      height: 42px;
      width: 42px;
      position: absolute;
      top: -9px;
      left: -60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #e3b873;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
      border-radius: 30px;
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #ffffff;
    }
  }
  &--item_3 {
    position: absolute;
    left: 516px;
    top: 399px;

    &::before {
      content: "03";
      height: 42px;
      width: 42px;
      position: absolute;
      top: -9px;
      left: -60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #e3b873;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
      border-radius: 30px;
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #ffffff;
    }
  }
  &--item_4 {
    width: 225px;
    height: 42px;
    position: absolute;
    left: 447px;
    top: 550px;

    &::before {
      content: "04";
      height: 42px;
      width: 42px;
      position: absolute;
      left: -60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #e3b873;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
      border-radius: 30px;
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #ffffff;
    }
  }
}

.leave_request_submit_form_container {
  @media (max-width: 1353px) {
    width: 100%;
  }
}

.leave_request_submit_form {
  width: 506px;
  height: 509px;
  background: #131313;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  margin: 120px 0 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: 1353px) {
    margin: 20px auto;
  }

  @include tablet() {
    display: none;
  }

  @include mobile() {
    display: none;
  }

  &--heading {
    width: 297px;
    height: 47px;
    font-family: FuturaDemiC;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    padding: 0 10px;
    margin: 28px 0 39px 0;
  }

  &--data {
    display: flex;
    margin-bottom: 31px;
    flex-direction: column;
  }

  &--input_name,
  &--input_phone {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    border: 0;
    outline: none;
    line-height: 138%;
    background-color: #131313;
    color: #ffffff;

    &::-webkit-input-placeholder {
      color: #ffffff;
    }
    &::-moz-placeholder {
      color: #ffffff;
    } /* Firefox 19+ */
    &:-moz-placeholder {
      color: #ffffff;
    } /* Firefox 18- */
    &:-ms-input-placeholder {
      color: #ffffff;
    }
  }

  &--input_name_container,
  &--input_phone_container,
  &--input_email_container {
    width: 408px;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 0px;

    &::before {
      content: "";
      width: 408px;
      height: 2px;
      position: absolute;
      bottom: 0px;
      background-color: rgba(255, 255, 255, 0.15);
    }

    &::after {
      content: "";
    }

    & > label {
      font-family: FuturaBookC;
      font-size: 15px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &--input_name_container,
  &--input_phone_container {
    margin-bottom: 50px;
  }

  &--submit_container {
    position: absolute;
    bottom: 27px;
    right: 49px;
  }

  &--submit {
    height: 51px;
    width: 213px;
    cursor: pointer;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);

    &:hover {
      background: blue;
    }
  }

  &--input_checkbox_container {
    position: relative;
    right: 58px;
    bottom: 14px;
    display: flex;
    align-items: center;
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;

    &:hover {
      background: #e3b87377;
    }

    & > input:checked ~ label::after {
      content: url(./assets/images/check_mark.svg);
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0px;
      top: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e3b873;
      border-radius: 1px;
    }

    & > label {
      margin-left: 10px;
      cursor: pointer;

      &::before {
        content: "";
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0px;
        top: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e3b87380;
        border-radius: 1px;
      }
    }
  }

  &--input_checkbox {
    opacity: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
}

.leave_request_piggy_bank {
  @media (max-width: 1353px) {
    display: none;
  }

  &--text {
    position: relative;
    bottom: 64px;
    left: 945px;
    width: 344px;
    height: 47px;
    font-family: FuturaDemiC;
    font-size: 20px;
    line-height: 25px;
    color: #e3b873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);

    &::before {
      content: url(./assets/images/leave_request_piggy_bank--img.svg);
      position: relative;
      left: -94px;
      bottom: -17px;
      width: 72px;
      height: 72px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #e3b873;
      box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    }
  }
}

// *************************************** LEAVE REQUEST SECTION END **********************************************

// *************************************** REALIZE FANTASIES SECTION START **********************************************

.realize_fantasies {
  width: 280px;
  align-self: center;

  @include tablet() {
    width: auto;
  }
  @include mobile() {
    width: auto;
  }

  &_section {
    height: 864px;
    background: url(./assets/images/realize_fantasies_background.png);
    display: flex;
    justify-content: space-evenly;
    margin: 150px 0;

    @include tablet() {
      position: relative;
      height: 100%;
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-image: linear-gradient(to top, #131313 37%, #ffffff 37.1%);
    }
    @include mobile() {
      position: relative;
      height: 100%;
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-image: linear-gradient(to top, #131313 37%, #ffffff 37.1%);
    }
  }

  &--heading {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #e3b873;
    padding-bottom: 40px;

    @include tablet() {
      max-width: 300px;
      font-size: 22px;
      line-height: 138.6%;
      padding-bottom: 24px;
      text-align: center;
    }
    @include mobile() {
      width: 300px;
      font-size: 22px;
      line-height: 138.6%;
      padding-bottom: 24px;
      text-align: center;
    }
  }

  &--list {
    height: 516px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;

    &_container {
      @include tablet() {
        display: none;
      }
      @include mobile() {
        display: none;
      }
    }
  }

  &--list_item {
    font-family: Proxima Nova;
    font-size: 20px;
    line-height: 34px;

    &_active {
      font-family: Proxima Nova;
      font-size: 20px;
      line-height: 34px;
      & > a {
        color: #e3b873;
        border-bottom: 1px solid#e3b873;

        &:hover {
          font-weight: 600;
          background: rgba(255, 215, 0, 0.1);
          border-bottom: 3px solid#e3b873;
        }
      }
    }

    &_link {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        font-weight: 600;
        background: blue;
      }
    }
  }
}

.realize_fantasies_images {
  @include tablet() {
    display: none;
  }
  @include mobile() {
    display: none;
  }

  &--cupboard {
    position: relative;
    bottom: 38px;
  }

  &--sofa {
    position: relative;
    bottom: 112px;

    @media (max-width: 1150px) {
      display: none;
    }
  }

  &--table {
    position: relative;
    bottom: 72px;

    @media (max-width: 1150px) {
      display: none;
    }
  }
}

.realize_fantasies_swiper {
  display: none;

  @include tablet() {
    display: block;
  }

  @include mobile() {
    display: block;
  }

  &--slider_container {
    background: rgba(255, 217, 0, 0.3);
  }
  &--arrows {
    height: 242px;
    width: 340px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  &--arrow_container {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: #e3b873;

    &:hover {
      background: blue;
    }
  }
}

// *************************************** REALIZE FANTASIES SECTION END **********************************************

// *************************************** MAIN PAGE END ***********************************************
