@import url("https://fonts.googleapis.com/css?family=Yeseva+One&display=swap&subset=cyrillic");
@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("./assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Regular.woff2") format("woff2"), url("./assets/fonts/ProximaNova-Regular.woff") format("woff"), url("./assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaMediumC";
  src: local("FuturaMediumC"), url("./assets/fonts/futuramediumc.otf") format("opentype");
}

@font-face {
  font-family: "FuturaBookC";
  src: local("FuturaBookC"), url("./assets/fonts/futurabookc.otf") format("opentype");
}

@font-face {
  font-family: "FuturaDemiC";
  src: local("FuturaDemiC"), url("./assets/fonts/futurademic.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  min-width: 375px;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15px 37px 31px;
  -ms-grid-columns: 83px auto 99px;
      grid-template: 15px 37px 31px / 83px auto 99px;
  background: #131313;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    -ms-grid-rows: 15px 37px 31px;
    -ms-grid-columns: 50px auto 50px;
        grid-template: 15px 37px 31px / 50px auto 50px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .header {
    -ms-grid-rows: 15px 37px 31px;
    -ms-grid-columns: 25px auto 25px;
        grid-template: 15px 37px 31px / 25px auto 25px;
  }
}

@media (max-width: 375px) {
  .header {
    -ms-grid-rows: 15px 37px 31px;
    -ms-grid-columns: 18px auto 18px;
        grid-template: 15px 37px 31px / 18px auto 18px;
  }
}

.navigation_bar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px auto 126px 161px;
      grid-template-columns: 180px auto 126px 161px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation_bar {
    -ms-grid-columns: 180px auto 126px;
        grid-template-columns: 180px auto 126px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar {
    -ms-grid-columns: 180px auto 126px;
        grid-template-columns: 180px auto 126px;
  }
}

@media (max-width: 375px) {
  .navigation_bar {
    -ms-grid-columns: 180px auto 126px;
        grid-template-columns: 180px auto 126px;
  }
}

.navigation_bar--navigation {
  width: 100%;
  height: 100%;
}

.navigation_bar--logo {
  cursor: default;
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #e3b873;
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar--logo {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 375px) {
  .navigation_bar--logo {
    font-size: 12px;
    line-height: 14px;
  }
}

.navigation_bar--navigation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
  height: 100%;
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar--navigation_list {
    display: none;
  }
}

@media (max-width: 375px) {
  .navigation_bar--navigation_list {
    display: none;
  }
}

.navigation_bar--navigation_list > li {
  height: 100%;
  width: 100%;
}

.navigation_bar--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: FuturaBookC;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation_bar--item:hover {
  background: blue;
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar--item {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 375px) {
  .navigation_bar--item {
    font-size: 12px;
    line-height: 14px;
  }
}

.navigation_bar--item-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: FuturaBookC;
  font-size: 14px;
  line-height: 16px;
  color: #e3b873;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar--item-active {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 375px) {
  .navigation_bar--item-active {
    font-size: 12px;
    line-height: 14px;
  }
}

.navigation_bar--item-active:hover {
  background: blue;
}

.navigation_bar--contact_phone {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #e3b873;
}

.navigation_bar--contact_phone:hover {
  background: blue;
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar--contact_phone {
    text-align: end;
  }
}

@media (max-width: 375px) {
  .navigation_bar--contact_phone {
    text-align: end;
  }
}

.navigation_bar--request_a_call_button {
  height: 100%;
  cursor: pointer;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #e3b873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
}

.navigation_bar--request_a_call_button:hover {
  background-color: blue;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation_bar--request_a_call_button {
    display: none;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar--request_a_call_button {
    display: none;
  }
}

@media (max-width: 375px) {
  .navigation_bar--request_a_call_button {
    display: none;
  }
}

.main_page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 82px auto;
      grid-template-columns: 82px auto;
}

@media (min-width: 375px) and (max-width: 767px) {
  .main_page {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 375px) {
  .main_page {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.aside_instagram {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #131313;
}

@media (min-width: 375px) and (max-width: 767px) {
  .aside_instagram {
    display: none;
  }
}

@media (max-width: 375px) {
  .aside_instagram {
    display: none;
  }
}

.aside_instagram > a > img:hover {
  width: 160%;
  background: blue;
}

.turnkey_repair_container {
  height: 706px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(./assets/images/home_page_desktop_background.png);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .turnkey_repair_container {
    height: 630px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair_container {
    height: 553px;
  }
}

@media (max-width: 375px) {
  .turnkey_repair_container {
    height: 476px;
    width: 375px;
  }
}

.turnkey_repair {
  height: 305px;
  width: 514px;
  margin-left: 60px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .turnkey_repair {
    width: 456px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair {
    width: 90vw;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .turnkey_repair {
    height: 330px;
    width: 339px;
    margin-left: 0;
    padding: 0 19px;
  }
}

.turnkey_repair--heading {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .turnkey_repair--heading {
    font-size: 34px;
    line-height: 110%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair--heading {
    font-size: 28px;
    line-height: 120%;
  }
}

@media (max-width: 375px) {
  .turnkey_repair--heading {
    font-size: 23px;
    line-height: 132.83%;
  }
}

.turnkey_repair--heading > span {
  color: #e3b873;
}

.turnkey_repair--description {
  padding-right: 70px;
  font-family: FuturaBookC;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .turnkey_repair--description {
    padding-right: 0;
    font-size: 21px;
    line-height: 110%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair--description {
    padding-right: 0;
    font-size: 19px;
    line-height: 120%;
  }
}

@media (max-width: 375px) {
  .turnkey_repair--description {
    padding-right: 0;
    font-size: 18px;
    line-height: 135.84%;
  }
}

.turnkey_repair--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair--buttons {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 375px) {
  .turnkey_repair--buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 13px;
    line-height: 15px;
  }
}

.turnkey_repair--calculate_btn {
  width: 207px;
  height: 51px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e3b873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair--calculate_btn {
    width: 100%;
    margin-right: 0;
    margin-bottom: 26px;
  }
}

@media (max-width: 375px) {
  .turnkey_repair--calculate_btn {
    width: 338px;
    margin-right: 0;
    margin-bottom: 26px;
  }
}

.turnkey_repair--calculate_btn > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}

.turnkey_repair--calculate_btn > a:hover {
  background: blue;
}

.turnkey_repair--submit_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 207px;
  height: 51px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair--submit_btn {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .turnkey_repair--submit_btn {
    width: 338px;
  }
}

.turnkey_repair--submit_btn > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}

.turnkey_repair--submit_btn > a:hover {
  background: blue;
}

.scroll_down {
  width: 247px;
  height: 97px;
  position: relative;
  bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #131313;
  z-index: 3;
}

@media (min-width: 375px) and (max-width: 767px) {
  .scroll_down {
    display: none;
  }
}

@media (max-width: 375px) {
  .scroll_down {
    display: none;
  }
}

.scroll_down--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll_down--link:hover {
  background-color: blue;
}

.scroll_down--text {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.scroll_down--image {
  display: block;
}

.completed_projects_wrapper {
  height: 750px;
  position: relative;
  background: #131313;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 592px auto;
      grid-template: 1fr / 592px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 375px) and (max-width: 767px) {
  .completed_projects_wrapper {
    height: 727px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr / 1fr;
    padding: 0 20px;
  }
}

@media (max-width: 375px) {
  .completed_projects_wrapper {
    height: 727px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr / 1fr;
    padding: 0 20px;
  }
}

.completed_projects {
  height: 390px;
  padding: 0 50px 0 101px;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 375px) and (max-width: 767px) {
  .completed_projects {
    height: auto;
    padding: 0;
  }
}

@media (max-width: 375px) {
  .completed_projects {
    height: auto;
    padding: 0;
  }
}

.completed_projects_heading {
  padding-bottom: 42px;
}

.completed_projects_heading--title {
  height: 66px;
  width: 155px;
  margin-bottom: 34px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
}

@media (min-width: 375px) and (max-width: 767px) {
  .completed_projects_heading--title {
    font-size: 24px;
    line-height: 120%;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .completed_projects_heading--title {
    height: 100%;
    width: 100%;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
  }
}

.completed_projects_heading--description {
  height: 86px;
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
}

@media (min-width: 375px) and (max-width: 767px) {
  .completed_projects_heading--description {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 130%;
  }
}

@media (max-width: 375px) {
  .completed_projects_heading--description {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 158.48%;
  }
}

.completed_projects_swiper--image_container {
  display: none;
}

@media (min-width: 375px) and (max-width: 767px) {
  .completed_projects_swiper--image_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 375px) {
  .completed_projects_swiper--image_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.completed_projects_swiper--arrows {
  height: 242px;
  width: 314px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.completed_projects_swiper--arrow_container {
  height: 36px;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #e3b873;
}

.completed_projects_swiper--arrow_container:hover {
  background: blue;
}

@media (min-width: 375px) and (max-width: 767px) {
  .completed_projects_swiper {
    display: block;
    background: red;
  }
}

@media (max-width: 375px) {
  .completed_projects_swiper {
    display: block;
    height: 340px;
    background: red;
  }
}

.completed_projects_info--all_info {
  height: 162px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr;
}

@media (min-width: 375px) and (max-width: 767px) {
  .completed_projects_info--all_info {
    padding-top: 37px;
  }
}

@media (max-width: 375px) {
  .completed_projects_info--all_info {
    padding-top: 37px;
  }
}

.completed_projects_info--title {
  padding-bottom: 10px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
}

@media (min-width: 375px) and (max-width: 767px) {
  .completed_projects_info--title {
    font-size: 16px;
    line-height: 120%;
  }
}

@media (max-width: 375px) {
  .completed_projects_info--title {
    font-size: 14px;
    line-height: 138.6%;
  }
}

.completed_projects_info--description {
  padding: 0 65px 20px 0;
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

@media (min-width: 375px) and (max-width: 767px) {
  .completed_projects_info--description {
    font-size: 16px;
    line-height: 120%;
  }
}

@media (max-width: 375px) {
  .completed_projects_info--description {
    font-size: 14px;
    line-height: 135.84%;
  }
}

.completed_projects_info--slider_container {
  display: none;
}

.completed_projects_slider {
  max-height: 483px;
  max-width: 850px;
  position: relative;
  background-color: #131313;
}

@media (min-width: 375px) and (max-width: 767px) {
  .completed_projects_slider {
    display: none;
  }
}

@media (max-width: 375px) {
  .completed_projects_slider {
    display: none;
  }
}

.completed_projects_slider--names {
  width: 45vw;
  max-width: 800px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: -46px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .completed_projects_slider--names {
    height: 100px;
    width: 25%;
    top: -115px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.completed_projects_slider--names > a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.completed_projects_slider--names > a:hover {
  background-color: blue;
}

.completed_projects_slider--names > a.active {
  color: #e3b873;
  text-decoration: underline;
}

.completed_projects_slider--img_slider {
  height: 28.5vw;
  overflow: hidden;
}

.completed_projects_slider--images {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 0 21px;
}

.completed_projects_slider--images > div {
  height: 28.5vw;
}

.completed_projects_slider--images > div > img {
  max-width: 680px;
  max-height: 483px;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.completed_projects_slider--slider_btn_container {
  position: absolute;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  z-index: 2;
}

@media (min-width: 375px) and (max-width: 767px) {
  .completed_projects_slider--slider_btn_container {
    display: none;
  }
}

@media (max-width: 375px) {
  .completed_projects_slider--slider_btn_container {
    display: none;
  }
}

.completed_projects_slider--slider_btn_link {
  height: 55px;
  width: 55px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e3b873;
  border-radius: 50%;
}

.completed_projects_slider--slider_btn_link:hover {
  background: blue;
}

.online_control {
  height: 1103px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(29%, #131313), color-stop(29.1%, #ffffff));
  background-image: linear-gradient(to bottom, #131313 29%, #ffffff 29.1%);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .online_control {
    height: 1000px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control {
    height: 909px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(92%, #131313), color-stop(84.1%, #ffffff));
    background-image: linear-gradient(to bottom, #131313 92%, #ffffff 84.1%);
  }
}

@media (max-width: 375px) {
  .online_control {
    height: 909px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(92%, #131313), color-stop(84.1%, #ffffff));
    background-image: linear-gradient(to bottom, #131313 92%, #ffffff 84.1%);
  }
}

.online_control_heading {
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .online_control_heading {
    height: 69px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_heading {
    height: 72px;
  }
}

@media (max-width: 375px) {
  .online_control_heading {
    height: 74px;
  }
}

.online_control_heading--text {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.online_control_heading--img_container {
  height: 28px;
}

.online_control_heading--video_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_heading--video_container {
    margin: 0 18px;
  }
}

@media (max-width: 375px) {
  .online_control_heading--video_container {
    margin: 0 18px;
  }
}

.online_control_heading--video {
  width: 817px;
  height: 434px;
  margin: 31px 0 98px 0;
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_heading--video {
    margin: 40px 0 51px 0;
    width: 500px;
    height: 257px;
  }
}

@media (max-width: 375px) {
  .online_control_heading--video {
    margin: 40px 0 51px 0;
    width: 340px;
    height: 207px;
  }
}

.online_control_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .online_control_info {
    font-size: 18px;
    line-height: 120%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_info {
    color: #ffffff;
    margin: 0 18px;
    font-size: 16px;
    line-height: 150%;
  }
}

@media (max-width: 375px) {
  .online_control_info {
    color: #ffffff;
    margin: 0 18px;
    font-size: 14px;
    line-height: 169.8%;
  }
}

.online_control_info--text {
  max-width: 681px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_info--text {
    height: 107px;
  }
}

@media (max-width: 375px) {
  .online_control_info--text {
    height: 107px;
  }
}

.online_control_submit_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 91px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_submit_form {
    position: relative;
    margin-top: 61px;
  }
}

@media (max-width: 375px) {
  .online_control_submit_form {
    position: relative;
    margin-top: 61px;
  }
}

.online_control_submit_form--data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 31px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_submit_form--data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 375px) {
  .online_control_submit_form--data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.online_control_submit_form--input_name, .online_control_submit_form--input_phone {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 24px;
  color: #363636;
  border: 0;
  outline: none;
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_submit_form--input_name, .online_control_submit_form--input_phone {
    line-height: 120%;
    background-color: #131313;
    color: #ffffff;
    /* Firefox 19+ */
    /* Firefox 18- */
  }
  .online_control_submit_form--input_name::-webkit-input-placeholder, .online_control_submit_form--input_phone::-webkit-input-placeholder {
    color: #ffffff;
  }
  .online_control_submit_form--input_name::-moz-placeholder, .online_control_submit_form--input_phone::-moz-placeholder {
    color: #ffffff;
  }
  .online_control_submit_form--input_name:-moz-placeholder, .online_control_submit_form--input_phone:-moz-placeholder {
    color: #ffffff;
  }
  .online_control_submit_form--input_name:-ms-input-placeholder, .online_control_submit_form--input_phone:-ms-input-placeholder {
    color: #ffffff;
  }
}

@media (max-width: 375px) {
  .online_control_submit_form--input_name, .online_control_submit_form--input_phone {
    line-height: 138%;
    background-color: #131313;
    color: #ffffff;
    /* Firefox 19+ */
    /* Firefox 18- */
  }
  .online_control_submit_form--input_name::-webkit-input-placeholder, .online_control_submit_form--input_phone::-webkit-input-placeholder {
    color: #ffffff;
  }
  .online_control_submit_form--input_name::-moz-placeholder, .online_control_submit_form--input_phone::-moz-placeholder {
    color: #ffffff;
  }
  .online_control_submit_form--input_name:-moz-placeholder, .online_control_submit_form--input_phone:-moz-placeholder {
    color: #ffffff;
  }
  .online_control_submit_form--input_name:-ms-input-placeholder, .online_control_submit_form--input_phone:-ms-input-placeholder {
    color: #ffffff;
  }
}

.online_control_submit_form--input_name_container, .online_control_submit_form--input_phone_container {
  width: 231px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_submit_form--input_name_container, .online_control_submit_form--input_phone_container {
    width: 340px;
    height: 45px;
    margin-right: 0;
  }
}

@media (max-width: 375px) {
  .online_control_submit_form--input_name_container, .online_control_submit_form--input_phone_container {
    width: 340px;
    height: 45px;
    margin-right: 0;
  }
}

.online_control_submit_form--input_name_container::before, .online_control_submit_form--input_phone_container::before {
  content: "";
  width: 231px;
  height: 1px;
  position: absolute;
  bottom: 0px;
  background-color: #36363630;
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_submit_form--input_name_container::before, .online_control_submit_form--input_phone_container::before {
    content: "";
    width: 340px;
    height: 1px;
    position: absolute;
    bottom: 0px;
    background-color: #ffffff;
  }
}

@media (max-width: 375px) {
  .online_control_submit_form--input_name_container::before, .online_control_submit_form--input_phone_container::before {
    content: "";
    width: 340px;
    height: 1px;
    position: absolute;
    bottom: 0px;
    background-color: #ffffff;
  }
}

.online_control_submit_form--input_name_container::after, .online_control_submit_form--input_phone_container::after {
  content: "";
}

.online_control_submit_form--input_name_container > label, .online_control_submit_form--input_phone_container > label {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_submit_form--input_name_container > label, .online_control_submit_form--input_phone_container > label {
    color: rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 375px) {
  .online_control_submit_form--input_name_container > label, .online_control_submit_form--input_phone_container > label {
    color: rgba(255, 255, 255, 0.5);
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_submit_form--input_name_container {
    margin-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .online_control_submit_form--input_name_container {
    margin-bottom: 50px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_submit_form--submit_container {
    position: absolute;
    bottom: -85px;
  }
}

@media (max-width: 375px) {
  .online_control_submit_form--submit_container {
    position: absolute;
    bottom: -130px;
  }
}

.online_control_submit_form--submit {
  height: 51px;
  width: 200px;
  cursor: pointer;
  background: #e3b873;
  font-family: FuturaDemiC;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_submit_form--submit {
    height: 51px;
    width: 340px;
  }
}

@media (max-width: 375px) {
  .online_control_submit_form--submit {
    height: 51px;
    width: 340px;
  }
}

.online_control_submit_form--submit:hover {
  background: blue;
}

.online_control_submit_form--input_checkbox_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: FuturaBookC;
  font-size: 16px;
  line-height: 22px;
  color: #181818;
}

@media (min-width: 375px) and (max-width: 767px) {
  .online_control_submit_form--input_checkbox_container {
    color: #ffffff;
  }
}

@media (max-width: 375px) {
  .online_control_submit_form--input_checkbox_container {
    color: #ffffff;
  }
}

.online_control_submit_form--input_checkbox_container:hover {
  background: #e3b87377;
}

.online_control_submit_form--input_checkbox_container > input:checked ~ label::after {
  content: url(./assets/images/check_mark.svg);
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e3b873;
  border-radius: 1px;
}

.online_control_submit_form--input_checkbox_container > label {
  margin-left: 10px;
  cursor: pointer;
}

.online_control_submit_form--input_checkbox_container > label::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e3b87380;
  border-radius: 1px;
}

.online_control_submit_form--input_checkbox {
  opacity: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.types_of_repair {
  height: 830px;
}

.types_of_repair_heading {
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 31px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .types_of_repair_heading {
    height: 71px;
    font-size: 22px;
    line-height: 138.6%;
  }
}

@media (max-width: 375px) {
  .types_of_repair_heading {
    height: 71px;
    font-size: 22px;
    line-height: 138.6%;
  }
}

.types_of_repair_examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 608px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.types_of_repair_examples--section {
  position: relative;
}

.types_of_repair_examples--heading {
  padding: 25px 0 13px 34px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.types_of_repair_examples--info_container {
  width: 330px;
  height: 286px;
  position: absolute;
  bottom: 0px;
  left: 31px;
  background: #ffffff;
  z-index: 2;
}

.types_of_repair_examples--list_container {
  width: 267px;
  height: 178px;
  padding-left: 34px;
}

.types_of_repair_examples--overhaul {
  margin: 0 30px;
}

.types_of_repair_examples--item {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.types_of_repair_examples--buy_btn_container {
  position: absolute;
  bottom: -23px;
  left: 31px;
  z-index: 3;
}

.types_of_repair_examples--buy_btn {
  height: 54px;
  width: 228px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  background: #e3b873;
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 375px) and (max-width: 767px) {
  .types_of_repair_examples--buy_btn {
    height: 40px;
    width: 190px;
    font-size: 15px;
    line-height: 138.6%;
  }
}

@media (max-width: 375px) {
  .types_of_repair_examples--buy_btn {
    height: 40px;
    width: 190px;
    font-size: 15px;
    line-height: 138.6%;
  }
}

.types_of_repair_examples--buy_btn:hover {
  background: blue;
}
/*# sourceMappingURL=style.css.map */