@import url("https://fonts.googleapis.com/css?family=Yeseva+One&display=swap&subset=cyrillic");
@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("./assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ProximaNova-Regular.woff2") format("woff2"), url("./assets/fonts/ProximaNova-Regular.woff") format("woff"), url("./assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaMediumC";
  src: local("FuturaMediumC"), url("./assets/fonts/futuramediumc.otf") format("opentype");
}

@font-face {
  font-family: "FuturaBookC";
  src: local("FuturaBookC"), url("./assets/fonts/futurabookc.otf") format("opentype");
}

@font-face {
  font-family: "FuturaDemiC";
  src: local("FuturaDemiC"), url("./assets/fonts/futurademic.otf") format("opentype");
}

.wrapper {
  max-width: 1440px;
  min-width: 375px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15px 37px 31px;
  -ms-grid-columns: 83px auto 99px;
      grid-template: 15px 37px 31px / 83px auto 99px;
  background: #131313;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    -ms-grid-rows: 15px 37px 31px;
    -ms-grid-columns: 50px auto 50px;
        grid-template: 15px 37px 31px / 50px auto 50px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .header {
    -ms-grid-rows: 15px 37px 31px;
    -ms-grid-columns: 25px auto 25px;
        grid-template: 15px 37px 31px / 25px auto 25px;
  }
}

@media (max-width: 375px) {
  .header {
    -ms-grid-rows: 15px 37px 31px;
    -ms-grid-columns: 18px auto 18px;
        grid-template: 15px 37px 31px / 18px auto 18px;
  }
}

.navigation_bar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px auto 126px 161px;
      grid-template-columns: 180px auto 126px 161px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation_bar {
    -ms-grid-columns: 180px auto 126px;
        grid-template-columns: 180px auto 126px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar {
    -ms-grid-columns: 180px auto 126px;
        grid-template-columns: 180px auto 126px;
  }
}

@media (max-width: 375px) {
  .navigation_bar {
    -ms-grid-columns: 180px auto 126px;
        grid-template-columns: 180px auto 126px;
  }
}

.navigation_bar--navigation {
  width: 100%;
  height: 100%;
}

.navigation_bar--logo {
  cursor: default;
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #e3b873;
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar--logo {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 375px) {
  .navigation_bar--logo {
    font-size: 12px;
    line-height: 14px;
  }
}

.navigation_bar--navigation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
  height: 100%;
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar--navigation_list {
    display: none;
  }
}

@media (max-width: 375px) {
  .navigation_bar--navigation_list {
    display: none;
  }
}

.navigation_bar--navigation_list > li {
  height: 100%;
  width: 100%;
}

.navigation_bar--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: FuturaBookC;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation_bar--item:hover {
  background: blue;
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar--item {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 375px) {
  .navigation_bar--item {
    font-size: 12px;
    line-height: 14px;
  }
}

.navigation_bar--item-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: FuturaBookC;
  font-size: 14px;
  line-height: 16px;
  color: #e3b873;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar--item-active {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 375px) {
  .navigation_bar--item-active {
    font-size: 12px;
    line-height: 14px;
  }
}

.navigation_bar--item-active:hover {
  background: blue;
}

.navigation_bar--contact_phone {
  cursor: default;
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #e3b873;
}

.navigation_bar--request_a_call_button {
  height: 100%;
  cursor: pointer;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #e3b873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation_bar--request_a_call_button {
    display: none;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .navigation_bar--request_a_call_button {
    display: none;
  }
}

@media (max-width: 375px) {
  .navigation_bar--request_a_call_button {
    display: none;
  }
}

.main_page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 82px auto;
      grid-template-columns: 82px auto;
}

@media (min-width: 375px) and (max-width: 767px) {
  .main_page {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 375px) {
  .main_page {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.aside_instagram {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #131313;
}

@media (min-width: 375px) and (max-width: 767px) {
  .aside_instagram {
    display: none;
  }
}

@media (max-width: 375px) {
  .aside_instagram {
    display: none;
  }
}

.turnkey_repair_container {
  height: 707px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(./assets/images/home_page_desktop_background.png);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .turnkey_repair_container {
    height: 630px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair_container {
    height: 553px;
  }
}

@media (max-width: 375px) {
  .turnkey_repair_container {
    height: 476px;
    width: 375px;
  }
}

.turnkey_repair {
  height: 305px;
  width: 514px;
  margin-left: 60px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .turnkey_repair {
    width: 456px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair {
    width: 90vw;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .turnkey_repair {
    height: 330px;
    width: 339px;
    margin-left: 0;
    padding: 0 19px;
  }
}

.turnkey_repair--heading {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .turnkey_repair--heading {
    font-size: 34px;
    line-height: 110%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair--heading {
    font-size: 28px;
    line-height: 120%;
  }
}

@media (max-width: 375px) {
  .turnkey_repair--heading {
    font-size: 23px;
    line-height: 132.83%;
  }
}

.turnkey_repair--heading > span {
  color: #e3b873;
}

.turnkey_repair--description {
  padding-right: 70px;
  font-family: FuturaBookC;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .turnkey_repair--description {
    padding-right: 0;
    font-size: 21px;
    line-height: 110%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair--description {
    padding-right: 0;
    font-size: 19px;
    line-height: 120%;
  }
}

@media (max-width: 375px) {
  .turnkey_repair--description {
    padding-right: 0;
    font-size: 18px;
    line-height: 135.84%;
  }
}

.turnkey_repair--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair--buttons {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 375px) {
  .turnkey_repair--buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 13px;
    line-height: 15px;
  }
}

.turnkey_repair--calculate_btn {
  width: 207px;
  height: 51px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e3b873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair--calculate_btn {
    width: 100%;
    margin-right: 0;
    margin-bottom: 26px;
  }
}

@media (max-width: 375px) {
  .turnkey_repair--calculate_btn {
    width: 338px;
    margin-right: 0;
    margin-bottom: 26px;
  }
}

.turnkey_repair--calculate_btn > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}

.turnkey_repair--calculate_btn > a:hover {
  background: blue;
}

.turnkey_repair--submit_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 207px;
  height: 51px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .turnkey_repair--submit_btn {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .turnkey_repair--submit_btn {
    width: 338px;
  }
}

.turnkey_repair--submit_btn > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
}

.turnkey_repair--submit_btn > a:hover {
  background: blue;
}

.scroll_down {
  width: 247px;
  height: 97px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #131313;
}

.scroll_down--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll_down--text {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.scroll_down--image {
  display: block;
}
/*# sourceMappingURL=style.css.map */