// Mixins for media query

$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1024px;
$TV-width: 1440px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin TV {
  @media (min-width: #{$desktop-width}) and (max-width: #{$TV-width - 1px}) {
    @content;
  }
}

// Proxima Nova

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("./assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("./assets/fonts/ProximaNova-Regular.woff") format("woff"),
    url("./assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Futura Medium C

@font-face {
  font-family: "FuturaMediumC";
  src: local("FuturaMediumC"), url("./assets/fonts/futuramediumc.otf") format("opentype");
}

// Futura Book C

@font-face {
  font-family: "FuturaBookC";
  src: local("FuturaBookC"), url("./assets/fonts/futurabookc.otf") format("opentype");
}

// Futura Demi C

@font-face {
  font-family: "FuturaDemiC";
  src: local("FuturaDemiC"), url("./assets/fonts/futurademic.otf") format("opentype");
}

// Yeseva One

@import url("https://fonts.googleapis.com/css?family=Yeseva+One&display=swap&subset=cyrillic");

// **************************************** BEGIN ***********************************************

.wrapper {
  max-width: 1440px;
  min-width: 375px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

// *************************************** HEADER START ***********************************************

.header {
  display: grid;
  grid-template: 15px 37px 31px / 83px auto 99px;
  background: #131313;

  @include desktop() {
    grid-template: 15px 37px 31px / 50px auto 50px;
  }

  @include tablet() {
    grid-template: 15px 37px 31px / 25px auto 25px;
  }

  @include mobile() {
    grid-template: 15px 37px 31px / 18px auto 18px;
  }
}

.navigation_bar {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 180px auto 126px 161px;
  align-items: center;

  @include desktop() {
    grid-template-columns: 180px auto 126px;
  }

  @include tablet() {
    grid-template-columns: 180px auto 126px;
  }

  @include mobile() {
    grid-template-columns: 180px auto 126px;
  }

  &--navigation {
    width: 100%;
    height: 100%;
  }

  &--logo {
    cursor: default;
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #e3b873;

    @include tablet() {
      font-size: 13px;
      line-height: 15px;
    }

    @include mobile() {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &--navigation_list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
    height: 100%;

    @include tablet() {
      display: none;
    }

    @include mobile() {
      display: none;
    }

    & > li {
      height: 100%;
      width: 100%;
    }
  }

  &--item {
    display: flex;
    height: 100%;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background: blue;
    }

    @include tablet() {
      font-size: 13px;
      line-height: 15px;
    }

    @include mobile() {
      font-size: 12px;
      line-height: 14px;
    }

    &-active {
      display: flex;
      height: 100%;
      padding: 0 5px;
      justify-content: center;
      align-items: center;
      font-family: FuturaBookC;
      font-size: 14px;
      line-height: 16px;
      color: #e3b873;
      text-transform: uppercase;
      text-decoration: none;

      @include tablet() {
        font-size: 13px;
        line-height: 15px;
      }

      @include mobile() {
        font-size: 12px;
        line-height: 14px;
      }

      &:hover {
        background: blue;
      }
    }
  }

  &--contact_phone {
    cursor: default;
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #e3b873;
  }

  &--request_a_call_button {
    height: 100%;
    cursor: pointer;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;

    @include desktop() {
      display: none;
    }

    @include tablet() {
      display: none;
    }

    @include mobile() {
      display: none;
    }
  }
}

// *************************************** HEADER END ******************************************************

// *************************************** MAIN PAGE START *************************************************

.main_page {
  display: grid;
  grid-template-columns: 82px auto;

  @include tablet() {
    grid-template-columns: auto;
  }

  @include mobile() {
    grid-template-columns: auto;
  }
}

.aside_instagram {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #131313;

  @include tablet() {
    display: none;
  }

  @include mobile() {
    display: none;
  }
}

.turnkey_repair_container {
  height: 707px;
  display: flex;
  background-image: url(./assets/images/home_page_desktop_background.png);

  @include desktop() {
    height: 630px;
  }

  @include tablet() {
    height: 553px;
  }

  @include mobile() {
    height: 476px;
    width: 375px;
  }
}

.turnkey_repair {
  height: 305px;
  width: 514px;
  margin-left: 60px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include desktop() {
    width: 456px;
  }

  @include tablet() {
    width: 90vw;
    margin: 0 auto;
  }

  @include mobile() {
    height: 330px;
    width: 339px;
    margin-left: 0;
    padding: 0 19px;
  }

  &--heading {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #ffffff;

    @include desktop() {
      font-size: 34px;
      line-height: 110%;
    }

    @include tablet() {
      font-size: 28px;
      line-height: 120%;
    }

    @include mobile() {
      font-size: 23px;
      line-height: 132.83%;
    }

    & > span {
      color: #e3b873;
    }
  }

  &--description {
    padding-right: 70px;
    font-family: FuturaBookC;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;

    @include desktop() {
      padding-right: 0;
      font-size: 21px;
      line-height: 110%;
    }

    @include tablet() {
      padding-right: 0;
      font-size: 19px;
      line-height: 120%;
    }

    @include mobile() {
      padding-right: 0;
      font-size: 18px;
      line-height: 135.84%;
    }
  }

  &--buttons {
    display: flex;
    width: fit-content;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    text-transform: uppercase;

    @include tablet() {
      width: 100%;
      flex-direction: column;
      font-size: 13px;
      line-height: 15px;
    }

    @include mobile() {
      flex-direction: column;
      font-size: 13px;
      line-height: 15px;
    }
  }

  &--calculate_btn {
    width: 207px;
    height: 51px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;

    @include tablet() {
      width: 100%;
      margin-right: 0;
      margin-bottom: 26px;
    }

    @include mobile() {
      width: 338px;
      margin-right: 0;
      margin-bottom: 26px;
    }

    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      color: #ffffff;
      text-decoration: none;

      &:hover {
        background: blue;
      }
    }
  }

  &--submit_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 207px;
    height: 51px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;

    @include tablet() {
      width: 100%;
    }

    @include mobile() {
      width: 338px;
    }

    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      color: #ffffff;
      text-decoration: none;

      &:hover {
        background: blue;
      }
    }
  }
}

// *************************************** SCROLL DOWN START ***********************************************

.scroll_down {
  width: 247px;
  height: 97px;
  position: absolute;
  display: flex;
  display: none; // delete it for visible scroll down
  justify-content: center;
  align-items: center;
  background: #131313;

  &--link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--text {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
  }

  &--image {
    display: block;
  }
}
// *************************************** SCROLL DOWN END *********************************************

// *************************************** MAIN PAGE END ***********************************************
